@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #0284c7; /* Tanqi Blue */
  --color-secondary: #f97316; /* Energetic Orange */
  --color-accent: #eab308; /* Bright Yellow */
}

body {
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}
